<html>
  <header>product</header>
    <body>
      <div class="col-xs-12 col-sm-4 col-md-4 adj_text">

        <h3><%=product.Name%></h3>
        <p><%=product.Description%></p>
        <img src=<%= product.Image %>  />
      </div> 
    </body>
</html>