<html>
    <body>
      <div class="col-xs-12 col-sm-4 col-md-4 adj_text">
       <h1>hello from single product page</h1>
        <h3>Product Name : <%=product.Name%></h3>
        <p> Product Description :<%=product.Description%></p>
      </div> 
    </body>
</html>